/*.dialog-pane {
    -fx-background-color: black;
}
*/
.dialog-pane .label {
    -fx-text-fill: black;
}

.dialog-pane:header .header-panel {
    -fx-border-color: Linear-gradient(to left, #CC00FF, #CC3365);
    -fx-border-width: 0 0 3px 0;
    
}

.dialog-pane:header .header-panel .label {
    -fx-font-size: 15px;
}

.button{
    -fx-background-color: #cc33cc;
    -fx-text-fill: white; 
    -fx-background-radius: 20; 
    -fx-border-radius: 20;
    -fx-padding: 8 16;
    -fx-cursor: hand;
    -fx-font-weight: bold;

}

.button:hover{
    -fx-background-color: #992699; 
}

.cancel_button{
    -fx-background-color: #D6D6D6; 
    -fx-text-fill: black; 
    -fx-background-radius: 20; 
    -fx-border-radius: 20;
    -fx-padding: 8 16;
    -fx-cursor: hand;
    -fx-font-weight: normal;

}

.cancel_button:hover{
    -fx-background-color: #adadad; 
}

.btn_delete_item{
    -fx-background-color: transparent; 
    -fx-text-fill: black; 
    -fx-cursor: hand;
    -fx-font-weight: normal;
    -fx-padding: 0px;
}

.btn_delete_item:hover{
    -fx-background-color: transparent; 
    -fx-text-fill: #cb0e50;
    -fx-font-weight: bold;
    -fx-padding: 0px;
}
.combo-box{
    /*-fx-background-color: #EFEFEF;*/ 
    -fx-text-fill: black; 
    -fx-background-radius: 20; 
    -fx-border-radius: 20;
    -fx-cursor: hand;

}

.combo-box-popup .list-cell:hover {
    -fx-background-color: #D6D6D6; 
    -fx-text-fill: black; 
}

.combo-box-popup .list-cell:selected {
    -fx-background-color: #cc33cc; 
    -fx-text-fill: white; 
}